.example-spacer {
    flex: 1 1 auto;
}

.divisor    
{
    border-left: 2px solid #CFCFCF;
    height: 40px;
    margin: 0px 0px 0px 30px;
}

  .fila_calendario
  {
    flex-grow: 1;
    border: 1px solid #CFCFCF;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    flex-basis: 16.4%;
  }
  .fila_calendario_item
  {
    flex-grow: 1;
    border: 1px solid #CFCFCF;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    flex-basis: 16.4%;
    min-height: 100px;
  }

  .day
  {
    display: flex;
    justify-content: flex-end;
  }

  .circle
  {
    width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #DFDFDF;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    padding:3%
  }

  .descripcion_actividad
  {
    width: calc(15.5vw)!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    border: 1px solid #afafaf;
    border-radius: 5%;
  }

  .normal
  {
    background-color: rgba(168, 249, 249,0.5) !important;
  }
  .urgente
  {
    background-color: rgba(255, 117, 117,0.5) !important;
  }