<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <span>AGOSTO 2024</span>
    <span class="divisor"></span>
    <button mat-icon-button>
        <mat-icon style="color: darkgray;">add</mat-icon>
    </button>
    <button mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
    </button>
    <span class="divisor"></span>
    
    <mat-form-field class="example-full-width">
        <mat-label>BUSQUEDA</mat-label>
        <input matInput>
    </mat-form-field>
    <button mat-icon-button>
        <mat-icon style="color: darkgray;">search</mat-icon>
    </button>
    <span class="example-spacer"></span>
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
</mat-toolbar>

<div style="width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: stretch; align-content: center;">
    <div class="fila_calendario">LUNES</div>
    <div class="fila_calendario">MARTES</div>
    <div class="fila_calendario">MIERCOLES</div>
    <div class="fila_calendario">JUEVES</div>
    <div class="fila_calendario">VIERNES</div>
    <div class="fila_calendario">SABADO</div>
</div>
<div style="width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
    <div class="fila_calendario_item" *ngFor="let item of actividades">
        <div class="day">
            <span class="circle">{{ item.dia }}</span>
        </div> 
        <div *ngFor="let items of item.actividades" >
            <div class="descripcion_actividad" [ngClass]="{'normal': items.importancia == 1, 'urgente': items.importancia==2}"> {{ items.descripcion }} </div>
        </div>
    </div>
   </div>