
    <div class="flex-row flex-gap module-search-bar">
        <mat-form-field class="flex-fill" appearance="fill">
            <mat-label>Buscar</mat-label>
            <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applySearch()" placeholder="Buscar usuario" autocomplete="off">
            <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-icon-button matSuffix (click)="applySearch()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <button mat-button  [disabled]="true"  *ngIf="isLoadingCardex">
            GENERANDO CARDEX
            <mat-progress-bar  mode="query"></mat-progress-bar>
        </button>
        <!--<button mat-icon-button  [disabled]="isLoadingPDF" (click)="printPdf()">
            <mat-icon svgIcon="pdf-icon"></mat-icon>
            <mat-progress-bar *ngIf="isLoadingPDF" mode="query"></mat-progress-bar>
        </button>
        <button mat-raised-button color="warn" (click)="openDialogHistorial()" [matTooltip]="'Historial por Empleado'"><mat-icon>history</mat-icon></button>
        <button mat-raised-button color="primary" (click)="openDialogMovto()" [matTooltip]="'Nuevo Movimiento'"><mat-icon>add</mat-icon></button>
        -->
        <button mat-raised-button matTooltip="Historial de Capacitaciones" (click)="HistoryCapacitaciones()"><i class="uil uil-history" style="font-size: 20pt;"></i></button> 
        <button  [matMenuTriggerFor]="menu" mat-raised-button color="primary" ><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="asignarCapacitacion()" class="mat-menu"><i class="uil uil-user-check" style="font-size: 16pt; padding: 0pt 7pt;"></i>ASIGNAR CAPACITACIONES</button>
        
        <mat-divider></mat-divider>
        <button mat-menu-item>CATALOGOS</button>
        <button mat-menu-item (click)="listadoTrabajador()"><mat-icon>person_pin</mat-icon>TRABAJADOR</button>
        <button mat-menu-item (click)="listadoPuesto()"><mat-icon>work</mat-icon>PUESTOS</button>
        <button mat-menu-item (click)="listadoCapacitacion()"><mat-icon>book</mat-icon>CAPACITACIONES</button>
        </mat-menu>
    </div>

    <div>
        <alert-panel></alert-panel>
        <!-- <mat-progress-bar *ngIf="isLoadingPDF" mode="query"></mat-progress-bar> -->
    </div>

    <mat-card class="table-card flex-fill">
        <div class="flex-column" style="height: 100%;">
            <div class="main-list-table left-click-open flex-fill">
                <table mat-table [dataSource]="data" matSort matSortActive="updated_at" matSortDirection="desc">
                    <ng-container matColumnDef="empleado">
                        <th mat-header-cell *matHeaderCellDef>EMPLEADO</th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.descripcion }}
                            <div style="font-size: 7pt;" *ngIf="row.cargo">
                                
                                <!-- {{ row.cargo.puesto.descripcion }} -->
                            </div>
                            
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="capacitaciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-xs  hide-sm">CAPACITACIONES</th>
                        <td mat-cell *matCellDef="let row" class="hide-xs  hide-sm">
                            <div *ngIf="row.cargo.length != 0">
                              
                                    <mat-progress-bar mode="determinate" value="{{ (row.capacitaciones.length / row.total_capacitaciones)*100 }}"></mat-progress-bar>
                            {{ row.capacitaciones.length }} / {{ row.total_capacitaciones }}
                            <br>
                            @for (item of row.cargo; track item; let i = $index) {
                                <span  [style.background-color]="colores[i]">{{ item.puesto.descripcion }} </span> 
                            }
                            
                            <!-- <div *ngFor="let items of row.cargo">
                                 {{ items.puesto.descripcion }} ({{items.puesto.capacitaciones.length}}) 
                    
                            </div> -->
                            </div>
                            <div *ngIf="row.cargo.length == 0">
                                -- PUESTO NO ASIGNADO --
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="porcentaje">
                        <th mat-header-cell *matHeaderCellDef class="hide-xs  hide-sm">PORCENTAJE</th>
                        <td mat-cell *matCellDef="let row" class="hide-xs hide-sm">
                            <div *ngIf="row.cargo.length != 0">
                                {{ (row.capacitaciones.length / row.total_capacitaciones)*100 | number:'1.2-2' }} %
                            </div> 
                            <div *ngIf="row.cargo.length == 0">
                                -- PUESTO NO ASIGNADO --
                            </div>
                        </td>
                    </ng-container>

                
                    
                    <ng-container matColumnDef="ultimo_movimiento">
                        <th width="1" style="white-space: nowrap;" mat-header-cell *matHeaderCellDef mat-sort-header>ÚLTIMO MOVIMIENTO</th>
                        <td mat-cell *matCellDef="let row" style="white-space: nowrap; text-align: center;">
                            <span *ngIf="!row.updated_at">Nunca</span>
                            <span *ngIf="row.updated_at">
                                {{row.updated_at | date:'dd - MMM - y'}}<br>
                                {{row.updated_at | date:'h:mm a'}}
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="updated_at">
                        <th width="1" mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="hide-sm hide-xs">
                            Actualizado
                        </th>
                        <td mat-cell *matCellDef="let row" style="white-space: nowrap; text-align: center;" class="hide-sm hide-xs">{{row.updated_at | date:'dd - MMM - y'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="loadingResults">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-results-found">
                            --| Cargando Registros |--
                            <mat-progress-bar mode="query"></mat-progress-bar>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="noResultsFound">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-results-found" >
                            No se encontraron registros 
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [cdkContextMenuTriggerFor]="rowMenu" [cdkContextMenuTriggerData]="{row:row}"></tr>
                    <tr mat-footer-row *matFooterRowDef="['loadingResults']" [ngClass]="{'hide':!isLoadingResults}"></tr>
                    <tr mat-footer-row *matFooterRowDef="['noResultsFound']" [ngClass]="{'hide':!(data!=null && data.length==0 && !isLoadingResults)}"></tr>
                </table>
            </div>
            <div>
                <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons aria-label="Selecciona una página"></mat-paginator>
            </div>
        </div>
    </mat-card>

    <ng-template #rowMenu let-row="row" let-status="status">
        <div class="context-menu mat-elevation-z2" cdkMenu >
            <button class="context-menu-item" cdkMenuItem (click)="openDialogCapacitaciones(row)" *ngIf="row.cargo.length > 0"><mat-icon>receipt</mat-icon>&nbsp;VER CAPACITACIONES</button>
            <button class="context-menu-item" cdkMenuItem (click)="deleteRow(row)"><mat-icon style="color: red;">delete</mat-icon>&nbsp;DAR DE BAJA</button>
            
        </div>
    </ng-template>