<section class="flex-column" style="height: 100%; overflow: hidden; flex: 1 1 0%;" (document:keydown.escape)="cancelarAccion()"> <!-- Main Body <<<<<<< -->
    <section class="dialog-toolbar"> <!-- Toolbar Menu <<<<<<< -->
        <div class="flex-row">
            <div class="label-info" >
                HISTORIAL DE CAPACITACIONES
            </div>
            
            <div class="flex-fill"></div>
            <div class="label-info screen-size-icon" *ngIf="currentScreenSize == 'xs' || currentScreenSize == 'sm'">
                <mat-icon>phone_iphone</mat-icon>
            </div>
            <button mat-button class="boton-accion" (click)="resizeDialog()" [matTooltip]="(dialogMaxSize)?'Restaurar':'Maximizar'" [matTooltipPosition]="'left'" tabindex="-1" *ngIf="currentScreenSize != 'xs' && currentScreenSize != 'sm'">
                <mat-icon>{{(dialogMaxSize)?'fit_screen':'fullscreen'}}</mat-icon>
            </button>
            <button class="boton-accion boton-cerrar" mat-button (click)="cerrar()" tabindex="-1"><mat-icon>close</mat-icon></button>
        </div>
    </section> <!-- <<<<<<< Toolbar Menu -->
    
    <section class="flex-column" style="padding:8px; overflow: auto;">
        <div class="flex-fill flex-column flex-gap">
            <mat-card class="flex-column flex-gap xs-max-height-user-form" style="padding: 8px;" [formGroup]="form">
                <div class="flex-row flex-xs-column flex-fill flex-gap">
        
                    <mat-form-field appearance="fill" class="flex-fill">
                        <mat-label>CAPACITACIÓN</mat-label>
                        <input type="text" #capacita matInput formControlName="catalogo_capacitacion_id" [matAutocomplete]="capacitacionAutocomplete">
                        <mat-autocomplete #capacitacionAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" [panelWidth]="'auto'">
                            <mat-option *ngFor="let item of filteredCatalogs['capacitacion'] | async" [value]="item">
                                {{ item.descripcion }}
                                
                            </mat-option>
                        </mat-autocomplete>
                        <mat-hint *ngIf="form.get('catalogo_capacitacion_id').value">
                            Norma: {{form.get('catalogo_capacitacion_id').value.norma}}
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field  fxFlex="20" appearance="fill" >
                        <mat-label>ESTATUS</mat-label>
                        <mat-select  formControlName='estatus'>
                            <mat-option *ngFor="let item of estatus" [value]="item.id">{{ item.descripcion }}</mat-option>
                            <!-- <mat-option *ngFor="let item of unidades" [value]="item.id">{{ item.descripcion }}</mat-option> -->
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field  fxFlex="30" appearance="fill" class="flex-fill">
                        <mat-label>Buscar Trabajador</mat-label>
                        <input matInput [(ngModel)]="searchQuery"  formControlName='buscador' (keyup.escape)="cleanSearch()" (keyup.enter)="applySearch()" placeholder="Buscar Trabajador" autocomplete="off">
                        <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                            <mat-icon>close</mat-icon>
                        </button>
                        <button mat-icon-button matSuffix (click)="applySearch()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-button  [disabled]="true" *ngIf="isLoadingResults">
                        BUSCANDO
                        <mat-progress-bar  mode="query"></mat-progress-bar>
                    </button>
                    <button mat-raised-button color="primary" style="padding: 30px;" (click)="applySearch()"  *ngIf="!isLoadingResults">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
    </section>            
    <section>
        <alert-panel></alert-panel>
    </section>
    
    <mat-card class="table-card flex-fill">
        <div class="flex-column" style="height: 100%;">
            <div class="main-list-table left-click-open flex-fill">
                <table mat-table [dataSource]="data" matSort matSortActive="updated_at" matSortDirection="desc">
                    <ng-container matColumnDef="trabajador">
                        <th mat-header-cell *matHeaderCellDef>TRABAJADOR</th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.descripcion }}
                            <div style="font-size: 8pt;" *ngIf="row.capacitaciones.length >0">
                                Capacitado en: {{ row.capacitaciones[0].fecha}}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="estatus">
                        <th mat-header-cell *matHeaderCellDef>ESTATUS</th>
                        <td mat-cell *matCellDef="let row">
                            
                            <button mat-mini-fab disabled>
                                <mat-icon *ngIf="row.capacitaciones.length >0" style="color: green;">check</mat-icon>
                                <mat-icon *ngIf="row.capacitaciones.length ==0" style="color: red;">close</mat-icon>
                            </button>
                        </td>
                    </ng-container>
    
                    
    
                   
    
                    <ng-container matColumnDef="loadingResults">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-results-found">
                            --| Cargando Registros |--
                            <mat-progress-bar mode="query"></mat-progress-bar>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="noResultsFound">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-results-found" >
                            No se encontraron registros 
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                    <tr mat-footer-row *matFooterRowDef="['loadingResults']" [ngClass]="{'hide':!isLoadingResults}"></tr>
                    <tr mat-footer-row *matFooterRowDef="['noResultsFound']" [ngClass]="{'hide':!(data!=null && data.length==0 && !isLoadingResults)}"></tr>
                </table>
            </div>
            <div>
                <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons aria-label="Selecciona una página"></mat-paginator>
            </div>
        </div>
    </mat-card>
</section>    