<section class="flex-column" style="height: 100%; overflow: hidden; flex: 1 1 0%;" (document:keydown.escape)="cancelarAccion()"> <!-- Main Body <<<<<<< -->
    <section class="dialog-toolbar"> <!-- Toolbar Menu <<<<<<< -->
        <div class="flex-row">
            <div class="label-info" >
                Catálogo de Capacitaciones
            </div>
            <div class="flex-fill"></div>
            <div class="label-info screen-size-icon" *ngIf="currentScreenSize == 'xs' || currentScreenSize == 'sm'">
                <mat-icon>phone_iphone</mat-icon>
            </div>
            <button mat-button class="boton-accion" (click)="resizeDialog()" [matTooltip]="(dialogMaxSize)?'Restaurar':'Maximizar'" [matTooltipPosition]="'left'" tabindex="-1" *ngIf="currentScreenSize != 'xs' && currentScreenSize != 'sm'">
                <mat-icon>{{(dialogMaxSize)?'fit_screen':'fullscreen'}}</mat-icon>
            </button>
            <button class="boton-accion boton-cerrar" mat-button (click)="cerrar()" tabindex="-1"><mat-icon>close</mat-icon></button>
        </div>
    </section> <!-- <<<<<<< Toolbar Menu -->
    <div class="flex-row flex-gap module-search-bar" style="padding: 5px 0px;">
        <mat-form-field class="flex-fill" appearance="fill">
            <mat-label>Buscar</mat-label>
            <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applySearch()" placeholder="Buscar Puesto" autocomplete="off">
            <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-icon-button matSuffix (click)="applySearch()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button color="primary" [matTooltip]="'Nuevo Puesto'" (click)="AddCapacitacion()"><mat-icon>add</mat-icon></button>
    </div>
    <section>
        <alert-panel></alert-panel>
    </section>
    <mat-card class="table-card flex-fill">
        <div class="flex-column" style="height: 100%;">
            <div class="main-list-table left-click-open flex-fill">
                <table mat-table [dataSource]="data" matSort matSortActive="updated_at" matSortDirection="desc">
                    <ng-container matColumnDef="descripcion">
                        <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.descripcion }}
                            
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="ultimo_movimiento">
                        <th width="1" style="white-space: nowrap;" mat-header-cell *matHeaderCellDef mat-sort-header>ÚLTIMO MOVIMIENTO</th>
                        <td mat-cell *matCellDef="let row" style="white-space: nowrap; text-align: center;">
                            <span *ngIf="!row.created_at"></span>
                            <span *ngIf="row.created_at">
                                {{row.created_at | date:'dd - MMM - y'}}<br>
                                {{row.created_at | date:'h:mm a'}}
                            </span>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="updated_at">
                        <th width="1" mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="hide-sm hide-xs">
                            Actualizado
                        </th>
                        <td mat-cell *matCellDef="let row" style="white-space: nowrap; text-align: center;" class="hide-sm hide-xs">{{row.updated_at | date:'dd - MMM - y'}}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="loadingResults">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-results-found">
                            --| Cargando Registros |--
                            <mat-progress-bar mode="query"></mat-progress-bar>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="noResultsFound">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-results-found" >
                            No se encontraron registros 
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [cdkContextMenuTriggerFor]="rowMenu" [cdkContextMenuTriggerData]="{row:row}"></tr>
                    <tr mat-footer-row *matFooterRowDef="['loadingResults']" [ngClass]="{'hide':!isLoadingResults}"></tr>
                    <tr mat-footer-row *matFooterRowDef="['noResultsFound']" [ngClass]="{'hide':!(data!=null && data.length==0 && !isLoadingResults)}"></tr>
                </table>
            </div>
            <div>
                <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons aria-label="Selecciona una página"></mat-paginator>
            </div>
        </div>
    </mat-card>
    
    <ng-template #rowMenu let-row="row" let-status="status">
        <div class="context-menu mat-elevation-z2" cdkMenu>
            <button class="context-menu-item" cdkMenuItem (click)="editar(row)"><mat-icon>edit</mat-icon>&nbsp;EDITAR</button>
            <button class="context-menu-item" cdkMenuItem (click)="eliminar(row.id)"><mat-icon>delete</mat-icon>&nbsp;ELIMINAR</button>
            
        </div>
    </ng-template>
</section>    