<div class="flex-column" style="height: 100%; overflow: hidden; flex: 1 1 0%;" (document:keydown.escape)="cancelarAccion()"> <!-- Main Body <<<<<<< -->
    <section class="dialog-toolbar"> <!-- Toolbar Menu <<<<<<< -->
        <div class="flex-row">
            
            <div class="label-info">
                FOTO
            </div>
            <div class="flex-fill"></div>
            <div class="label-info screen-size-icon" *ngIf="currentScreenSize == 'xs' || currentScreenSize == 'sm'">
                <mat-icon>phone_iphone</mat-icon>
            </div>
            <button mat-button class="boton-accion" (click)="resizeDialog()" [matTooltip]="(dialogMaxSize)?'Restaurar':'Maximizar'" [matTooltipPosition]="'left'" tabindex="-1" *ngIf="currentScreenSize != 'xs' && currentScreenSize != 'sm'">
                <mat-icon>{{(dialogMaxSize)?'fit_screen':'fullscreen'}}</mat-icon>
            </button>
            <button class="boton-accion boton-cerrar" mat-button (click)="cerrar()" tabindex="-1"><mat-icon>close</mat-icon></button>
        </div>
    </section> <!-- <<<<<<< Toolbar Menu -->
    <section>
        <alert-panel></alert-panel>
    </section>
    
        
          <section fxFlex="100" fxFlex.xs="100">
            <mat-card>
                <mat-card-content>
                    <div class="flex-row flex-xs-column flex-fill flex-gap"> 
                        <div class="flex-fill">
                            <div appearance="fill" class="flex-fill">
                                    <img [src]="preview" class="preview">
                            </div>
                           
                            
                        </div>
                        
                    </div>    
                      
                </mat-card-content>
            </mat-card>
        </section>
        
    
</div>